@using Microsoft.AspNetCore.Identity
@using ProjectForum.Models
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);

    <button type="submit" class="btn btn-primary btn-lg mb-3" id="reply-btn">Reply</button>
    <div id="add-reply-wrapper" style="display:none">
        <form action="/Post/AddReply" method="post">
            <div class="form-group">
                <textarea class="form-control" name="content" rows="3"></textarea>
            </div>
            <input type="hidden" name="ownerId" value=@user.Id>
            <input type="hidden" name="postId" value=@Model.PostId>
            <input type="hidden" name="parentId" value=@Model.Uid>
            <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
        </form>
    </div>
}
