@using ProjectForum.Models
@model ForumPostComment
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <form action="/Post/AddComment" method="post">
        <div class="form-group">
            <textarea class="form-control" id="post-body" rows="3" asp-for="Content"></textarea>
        </div>
        <input type="hidden" name="ownerID" asp-for="OwnerId" value=@user.Id>
        <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
    </form>
}

