html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.postContainer {
    margin: auto;
    width: 60%;
    padding: 2em;
    text-align: left;
    
}

.forumPost-user {
    padding-bottom: 0.8em;
}

.forumPost-title {
    font-size: 1.1em;
    font-weight: 500;
    padding-bottom: 0.8em;
}

.forumPost-content {
    text-align: justify;
    padding-bottom:0.8em;
}

.postUpperPart {
    display: flex;
    font-size: 0.8em;
    padding-top:0.8em;
}

.dateCreated {
    font-weight: 100;
}

.fa-circle {
    font-size: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    text-align: center;
}

.post-functions-wrapper {
    display: flex;
    font-size: 1.2em;
}


#replies-btn {
    position: relative;
    width: fit-content;
    background-color: dimgrey;
    color: white;
    height: fit-content;
    border: 0;
    font-size: 1.2em;
    border: 2px solid black;
}

.collapsible:after {
    content: '▼';
}

.active:after {
    content: '▲';
}

.reply-list-wrapper {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.reply-list {
    display: block;
    justify-content: center;
    background-color: dimgray;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100% !important;
    font-size: 1.2rem;
    justify-content: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.reply-list a {
    text-decoration:none;
    color: white;
}
    .reply-list a:hover {
        text-decoration: none;
        color: red;
    }

#cancel-btn {
    display: inline-block;
}